/* Thales CSS */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* ! Screen 1 - containeres List */

.header_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: auto;
    right: auto;
    width: 100vw;
    z-index: 2;
}

.header_page span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}


.create_quizz {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 340px;
    height: 181px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 100px;
}

.create_quizz span {
    width: 250px;
    height: 107px;
    word-break: break-word;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 7px;
    color: #B9B9B9;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}

.create_quizz button {
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    color: #EC362D;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 33px;
    cursor: pointer;
}

.screen_1 .all_quizzes {
    margin-top: 35px;
}

.all_quizzes h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    margin-bottom: 14px;
}

.container_img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 14px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.container_img span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 7px;
}

/*! Screen 2 - containeres List */

/* ! Seus quizzes */

.your_quizzes {
    margin-top: 107px;
}

.your_quizzes .container_icon_add_quizz {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    margin-bottom: 13px;
    justify-content: space-between;
}

.screen_2 .your_quizzes h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    margin-bottom: 14px;
    margin-bottom: 0px;
}

ion-icon {
    width: 31px;
    height: 30px;
    color: #EC362D
}

/* ! All quizzes */


.all_quizzes {
    margin-top: 38px;
}


/* ! Quizzes Screen  */

.quizzes_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
}

.header_quizzes_questions {
    height: 142px;
    width: 100vw;
    margin-top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.header_quizzes_questions span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
}

.container_question {
    width: 375px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.quizzes_screen .container_question:first-of-type {
    margin-top: 24px;
}

.quizzes_screen .container_question:last-of-type {
    margin-bottom: 24px;
}

.quizz_questions {
    width: 340px;
    height: 89px;
    margin-top: 18px;
    margin-bottom: 13px;
    display: flex;
    justify-content: center;
    background-color: red;
}

.quizz_questions span {
    text-align: center;
    margin: auto 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF
}

.options_question {
    width: 338px;
    height: auto;
    background-color: #FFFFFF;
    margin-bottom: 23px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.option_question_img {
    width: 163px;
    height: 113px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}


.question_img p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    margin-top: 5px;
    width: 163px;
    height: auto;
    word-break: break-all;
}

.result_quizz {
    width: 375px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.hit_percentage {
    width: 340px;
    height: 99px;
    background: #EC362D;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 9px;
    margin-top: 18px;
}

.hit_percentage span {
    margin: auto 16px;
    color: #FFFFFF;
    word-break: break-all;
}

.final_img_quizz {
    width: 340px;
    height: 255px;
    background-position: center;
    background-size: cover;
}

.result_quizz p {
    width: 340px;
    text-align: justify;
    margin-top: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 14px;
    color: #484848;
    word-break: break-word;
}

.quizzes_screen .restart_quizz {
    width: 220.32px;
    height: 44px;
    background: #EC362D;
    border-radius: 15px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    margin-top: 34px;
    margin-bottom: 30px;
    cursor: pointer;

}

.quizzes_screen .back_home {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #818181;
    margin-bottom: 79px;
    cursor: pointer;
}

/* ! Media Query */

@media screen and (min-width: 1100px) {

    .container_imgs {
        display: flex;
        width: 1050px;
        flex-wrap: wrap;
    }

    .container_img {
        margin-right: 15px;
        margin-bottom: 12px;
    }

    .container_imgs .container_img:nth-child(3n) {
        margin-right: 0px;
    }

    .screen_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .create_quizz {
        width: 1050px;
        margin-top: 146px;
    }

    .your_quizzes .container_icon_add_quizz {
        justify-content: flex-start;
    }

    .your_quizzes h1 {
        margin-right: 17px;
    }

    .screen_2 .all_quizzes {
        margin-top: 36px;
    }

    .screen_1 .all_quizzes {
        margin-top: 77px;
    }

    .header_quizzes_questions {
        height: 227px;
    }

    .header_quizzes_questions span {
        font-size: 39px;
        line-height: 46px;
    }

    .container_question {
        width: 759px;
    }

    .quizzes_screen .container_question:first-of-type {
        margin-top: 42px;
    }

    .quizz_questions {
        width: 688.16px;
        height: 137.99px;
        margin-top: 27.91px;
        margin-bottom: 18.61px;
    }

    .quizz_questions span {
        font-size: 23px;
        line-height: 27px;
    }

    .options_question {
        width: 684.11px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }

    .question_img {
        height: auto;
        width: 329.9px;
    }

    .option_question_img {
        width: 329.91px;
        height: 175.2px;
    }

    .question_img p {
        font-size: 20px;
        line-height: 23px;
        margin-top: 7.75px;
        width: 329.91px;
        height: auto;
        word-break: break-word;
    }

    .result_quizz {
        width: 759px;
        height: 430px;
    }

    .hit_percentage {
        width: 727px;
    }

    .hit_percentage span {
        font-size: 23px;
        line-height: 27px;
    }

    .final_result {
        width: 727px;
        display: flex;
        justify-content: space-between;
    }

    .final_img_quizz {
        width: 364px;
        height: 273px;
    }

    .result_quizz p {
        font-size: 19px;
        line-height: 25px;
    }

    .quizzes_screen .restart_quizz {
        width: 260.38px;
        height: 52px;
        font-size: 21px;
        line-height: 25px;
        margin-top: 57px;
        margin-bottom: 27.5px;
    }

    .quizzes_screen .back_home {
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 85px;
    }

}

/* ! Other classes */

.display-off {
    display: none;
}

.opacity {
    opacity: 0.3;
}

.no_click {
    pointer-events: none;
}

/* !CSS Victor Hugo */

.main {
    height: 100vh;
    width: 100vw;
    margin-top: 56px;
}

/* ! Tela 3.1 */

.main section {
    margin-top: 69px;
}

/* ! Tela 3.1 */

.main section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela_3-1:nth {
    width: 100%;
    height: 598px;
}

.main section h2 {
    min-height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

article.article_1_3-1 {
    height: 256px;
    width: 375px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.main input {
    height: 46px;
    width: 341px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

::placeholder {
    padding-left: 14px;
    color: #BABABA;
    font-family: Roboto;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    word-break: break-word;
}

.main button {
    width: 324px;
    height: 54px;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    margin: 29px auto 60px auto;
}

.main button p {
    color: white;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin: auto auto;
}

/* !Tela 3.2 */

section.tela_3-2 {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: auto auto;
}

/* !Tela 3.2 */


.main section.tela_3-2 h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

}

article.question_1 {
    width: 375px;
    height: 825px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-top: 28px;
    margin-bottom: 28px;
}

article.question_1:first-child {
    margin-top: -28px;
}

section.tela_3-2 input {
    margin-top: 13px;
}

section.tela_3-2 input:nth-child(11) {
    margin-top: 18px;
}

section.tela_3-2 input:nth-child(12) {
    margin-bottom: 18px;
}

input:nth-child(13) {
    margin-bottom: 18px;
}

section.tela_3-2 button {
    width: 324px;
    height: 54px;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    margin: 29px auto 60px auto;
}

.main img {
    width: 24px;
    margin-right: 25px;
}

/* !Tela 3.3 */

article.level_1 textarea {
    height: 177px;
}

.level_1 input:last-of-type {
    height: 170px;
    margin-bottom: 20px;
    width: 341px;
    overflow-y: scroll;
    resize: none;
    border: 1px solid #D1D1D1;
}

article.level_1 textarea::-webkit-scrollbar {
    display: none;
}

*:focus {
    outline: none;
}

*:focus::placeholder {
    color: transparent
}

article.level_1 textarea::placeholder {
    padding-top: 20px;
}

article.level_1 {
    width: 375px;
    height: 439px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 28px;
}

article.level_1:first-child {
    margin-top: -28px;
}

.main h3 {
    width: 200px;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin: 27px auto 0px 17px;
}

.tela_3-3 article.level_1:last-of-type {
    margin-bottom: 0px;
}

/*! Tela 3.4 */

.tela_3-4 section {
    width: 375px;
    height: 749px;
}

.tela_3-4 article.last_screen {
    width: 340px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    word-wrap: break-word;
}

.tela_3-4 article.last_screen span {
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    color: white;
    padding-left: 17px;
    padding-bottom: 17.5px;
}

.tela_3-4 button:last-of-type {
    background-color: #E5E5E5;
    margin-top: -45px;
    margin-bottom: 356px;
    box-shadow: none;
}

.tela_3-4 p.button_home {
    color: #BABABA
}


/* !Esconder as telas */

section.hidden {
    display: none;
}

.inside {
    width: 375px;
    height: 74px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    margin-bottom: 28px;
}

.opneDiv {
    margin-right: 26px;
    width: 26px;
    height: 26px;
}

.inside h2 {
    align-items: center;
    color: #000000;
    margin-left: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
}

.escondido {
    display: none;
}